@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Steinfeld Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Steinfeld Regular'), url('/fonts/Steinfeld DEMO.woff') format('woff');
}

.custom-font {
  font-family: 'Steinfeld Regular';
}

/* Links */
@layer components {
  .link {
    @apply text-blue-600 hover:text-blue-700 transition duration-300 ease-in-out mb-4;
  }

  .link-secondary {
    @apply text-purple-600 hover:text-purple-700 transition duration-300 ease-in-out mb-4;
  }

  .link-success {
    @apply text-green-500 hover:text-green-600 transition duration-300 ease-in-out mb-4;
  }

  .link-danger {
    @apply text-red-600 hover:text-red-700 transition duration-300 ease-in-out mb-4;
  }

  .link-warning {
    @apply text-yellow-500 hover:text-yellow-600 transition duration-300 ease-in-out mb-4;
  }
}

/* Btns */
@layer components {
  .btn {
    @apply inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }

  .btn-secondary {
    @apply inline-block px-6 py-2 border-2 border-purple-600 text-purple-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }

  .btn-success {
    @apply inline-block px-6 py-2 border-2 border-green-500 text-green-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }

  .btn-danger {
    @apply inline-block px-6 py-2 border-2 border-red-600 text-red-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }

  .btn-warning {
    @apply inline-block px-6 py-2 border-2 border-yellow-500 text-yellow-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }

  .btn-info {
    @apply inline-block px-6 py-2 border-2 border-blue-400 text-blue-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out;
  }
}

/* Alerts */
@layer components {
  .alert {
    @apply bg-blue-100 rounded-lg py-5 px-6 mb-4 text-base text-blue-700;
  }

  .alert-success {
    @apply bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700;
  }

  .alert-danger {
    @apply bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700;
  }

  .alert-warning {
    @apply bg-yellow-100 rounded-lg py-5 px-6 mb-4 text-base text-yellow-700;
  }
}

@layer components {
  .form-input {
    @apply form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .form-select-custom {
    @apply form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
  }
  .form-check-custom {
    @apply form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
  }
}

strong {
  @apply font-bold;
}