@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Steinfeld Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Steinfeld Regular'), url('/fonts/Steinfeld DEMO.woff') format('woff');
}

.custom-font {
  font-family: 'Steinfeld Regular';
}

.img-load {
  @apply bg-[url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.invescoeasysteps.ie%2Fimg%2Floading.gif&f=1&nofb=1')] bg-transparent bg-center bg-no-repeat;
}